@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@media (max-width: 475px) {
 .Filter h3{
     display: none;
 }
}


body {
    font-size: 20px;
    max-width: 100%;
    font-family: 'Merriweather', serif;
}

.Filter {
    display: flex
}

select {
    margin-left: 20px;
}

#Products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.Product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid #000;
    box-sizing: content-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.status {
    background-color: green;
    color: white;
    position: absolute;
    padding: 5px;
    border-radius: 10%;
    margin-left: 10px;
    font-size: 0.8rem;
}

.line {
    border: solid green;
    width: 30px;
}

img {
    width:310px;
    height: 300px;
}

.price {
    font-weight: bold;
    font-size: 1.6rem;
}

.newprice {
    font-size: 1rem;
    text-decoration: line-through;
    color: grey;
    margin: top 0;
    margin-bottom: 0;
}

.hide {
    display: none;
}